<div class="order">
<div class="image" id="image">
	<img src="" alt="itemImage" id="itemImage" class="itemImage">
</div>
<div class="discription">
	<span id="proId" class="proId"></span>
	<span id="itemName" class="itemName"></span>
	<p id="itemDiscription" class="itemDiscription" name="itemDiscription"></p>
	<span id="itemPrice" class="itemPrice"></span>
	<span id="expraDate" class="expraDate"></span>
</div>
<div class="order">
	<lable for="quentity">quentity
	<input id="quentity" class="quentity" value="1" min="1" max="10" type="number"></lable>
	<button id="addCart" >add cart</button>
	<button id="buyNow" >Buy Now</button>

</div>
</div>

