<div class="editAccount">
<form class="editAccount" id="editAccount" action="api/buyNow/" method="POST">
	<div class="formError">failed to edit the account. try again</div>
	<h3>account update</h3>
	<input  name='_method' value='PUT' _method='PUT' type="hidden">
	<lable>Email</lable><br><input spellcheck="false" type="text" id="email" name="email" ></input><br>

	<lable>firstName</lable><br><input spellcheck="false" type="text" id="firstName" name="firstName"></input><br>

	<lable>lastName</lable><br><input spellcheck="false" type="text" id="lastName" name="lastName"></input><br>

	<lable>phone</lable><br><input spellcheck="false" type="text" id="phone" name="phone"></input><br>

	<lable>password</lable><br><input spellcheck="false" type="text" id="password" name="password"></input><br>

	<lable>repeat password</lable><br><input spellcheck="false" type="text" name="repeatPassword" name="repeatPassword"></input><br>

	<lable>address</lable><br><input spellcheck="false" type="text" id="address" name="address"></input><br>
	<button type="submit">submit</button>
</form>
</div>
