<div class="mainPage">
  <div class="mortivationTitle">
    <span>Have You Tried These Pizza?</span>
  </div>
  <div class="foodContainer">
    <div class="card">
      <a href="/session/create">
      <img src="public/cardone.jpg" >
</a>    
  </div>
    <div class="card">
      <a href="/session/create">
      <img src="public/cardtwo.jpg" >
    </a>
  </div>
    <div class="card">
      <a href="/session/create">
        <img src="public/cardthree.jpg" >
</a>
    </div>
    <div class="card">
      <a href="/session/create">
      <img src="public/cardfour.jpg" >
    </a>
  </div>
    <div class="card">
      <a href="/session/create">
      <img src="public/cardfive.jpg" >
    </a>
  </div>
    <div class="card">
      <a href="/session/create">
      <img src="public/cardsix.jpg" >
    </a>
  </div>
  </div>
</div>
