<div class="loginForm">
  <form id="loginForm" action="/api/tokens" method="POST">
    <div class="formError">error</div>
    <label for="email">Email</label><br><input type="email" id="email" class="inputWrapper" placeholder="email" name="username" value=""><br>
    <label for="password">Password</label><br><input type="password" id="password" class="inputWrapper" placeholder="password" name="password" value=""><br>
    <button type="submit" class="submitWrapper">submit</button>
  </form>
</div>
