<div>

	<form name="pay" class="pay" id="pay" action="/api/buyNow" method="POST">
		<div class="formError">error</div>
			<label for="orderId">orderId
			<input type="text" name="orderId" disabled></label>

			<label for="firstName">firstName
			<input type="text" name="firstName"></label>

			<label for="lastName">lastName
			<input type="text" name="lastName"></label>

			<label for="email">email
			<input type="email" name="email"  disabled></label>

			<label for="cardNumber">cardNumber
			<input type="number" name="cardNumber"></label>

			<label for="csv">csv
			<input type="number" name="csv"></label>

		<button type="submit">submit</button>
	</form>
</div>